{% extends 'layout/base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
    <div class="row justify-content-end">
    {% if data.ticket_winner %}
        <label class="col-2 btn btn-dark d-inline mb-2">Ticket Released</label>
        <label class="col-2 fw-bold text-dark text-center h3">{{ data.ticket_winner }}</label>
        <a href="/end_release/{{ data.ticket_winner_id }}" class="col-2 btn btn-danger d-inline mb-2">End Release</a>
    {% else %}
        <a href="/release_ticket" class="col-2 btn btn-outline-dark d-inline mb-2 fw-bold">Release Ticket</a>
    {% endif %}
    </div>
    <div class="display-2 text-center mt-2 mb-5">Admin Dashboard</div>
    <div class="row justify-content-center">
        {% for or_name,orders in data.all_orders.items() %}
        <div class="col-4 px-2"><button class="btn btn-outline-dark w-100 fw-bold" onclick="disp('{{ or_name }}')" id="btn{{ or_name }}">{{ or_name }}</button></div>
        {% endfor %}
    </div>
    {% for or_name,orders in data.all_orders.items() %}
        <div id="{{ or_name }}" style="display: none">
            <div class="h2 text-center my-3">{{ or_name }}</div>
            <table class="table table-striped table-dark" style="opacity: 0.9">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Username</th>
                  <th scope="col">Time</th>
                  <th scope="col">Tickets</th>
                  <th scope="col">Prices</th>
                  <th scope="col">Payment Data</th>
                  <th scope="col">Admin Verify</th>
                </tr>
              </thead>
              <tbody>
              {% for ord in orders %}
                  <tr class="bg-light">
                      <th scope="row">{{ ord.num }}</th>
                      <td>{{  ord.username }} </td>
                      <td>{{ ord.created_at }}</td>
                      <td>
                          <div class="row" >
                            {% for tik in ord.tickets.split(',') %}
                              <button class=" btn bg-light text-dark d-inline fw-bold me-2 px-4 mb-2" style="width: 90px;">{{ tik }}</button>
                            {% endfor %}
                          </div>
                      </td>
                      <td>{{ ord.price }} Ks</td>
                      <td>
                            <p>Acc Name :  <strong class="text-info">{{ ord.payment_data.Name }}</strong></p>
                            <p>Phone No : <strong class="text-info">{{ ord.payment_data.Phone }}</strong></p>
                            <p>Transaction Id : <strong class="text-info">{{ ord.payment_data['Transaction Id'] }}</strong></p>
                            <p>Amount : <strong class="text-info">{{ ord.payment_data.Amount }}</strong></p>
                            <p>Date & Time : <strong class="text-info">{{ ord.payment_data.Date }}</strong></p>
                            <p>Transfer Type : <strong class="text-info">{{ ord.payment_data.Type }}</strong></p>
                            <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modal{{ ord.order_id }}">View original image</button>

                      </td>
                      <td>
                          {% if or_name=='Accepted Order' %}
                                <p class="text-success fw-bold">Accepted</p>
                          {% elif or_name=='Rejected Order' %}
                                <p class="text-danger fw-bold">Rejected</p>
                          {% else %}
                                  <a href="/admin_accept/{{ ord.order_id }}" type="submit" class="btn btn-success d-inline mb-2">Accept</a>
                                  <a href="/admin_reject/{{ ord.order_id }}" type="submit" class="btn btn-danger d-inline">Reject</a>
                          {% endif %}
                      </td>
                  </tr>
                    <div class="modal fade" id="modal{{ ord.order_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Image</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <img src="{{ url_for('static',filename=ord.payment) }}" width="100%">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                          </div>
                        </div>
                      </div>
                    </div>

              {% endfor %}
              </tbody>
            </table>
        </div>
        {% endfor %}
    <script>
    d=document.getElementById('btnPending Order')
    d.classList.remove('btn-outline-dark')
    d.classList.add('btn-dark')
    document.getElementById('Pending Order').style.display='block'
    function disp(n){
        arr=['Pending Order','Accepted Order','Rejected Order']
        for(i=0;i<3;i++){
            if(arr[i]==n){
                document.getElementById(arr[i]).style.display='block'
                d=document.getElementById('btn'+arr[i])
                d.classList.remove('btn-outline-dark')
                d.classList.add('btn-dark')
            }else{
                document.getElementById(arr[i]).style.display='none'
                d=document.getElementById('btn'+arr[i])
                d.classList.remove('btn-dark')
                d.classList.add('btn-outline-dark')
            }
        }


    }
    </script>
{% endblock %}
